[submodule "projeto_user-teste-done-"]
	path = projeto_user-teste-done-
	url = https://github.com/ReinaldoARamos/projeto_user-teste-done-.git

[submodule "user-rest-api"]
path = user-rest-api
url = https://github.com/ReinaldoARamos/curso-javascript-projeto-usuarios-restapi