[submodule "projeto_user-teste-done-"]
	path = projeto_user-teste-done-
	url = https://github.com/ReinaldoARamos/projeto_user-teste-done-.git

[submodule "curso-javascript-projeto-usuarios-restapi"]
	path = curso-javascript-projeto-usuarios-restapi
	url = https://github.com/hcodebr/curso-javascript-projeto-usuarios-restapi
